@use "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$ff;
}
body {
  background-color: variables.$cream;
}
main {
  width: 80%;
  max-width: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#card {
  width: 100%;
}
@import "../components/header";
@import "../components/card";
